<div class="row about" id="aboutSection">
  <div class="col-md-6 col-xs-12">
    <div class="video">
      <a href="#">
        <div class="overlay"></div>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
      <div class="aboutcontent">
        <h6>LIVE COFFEE MAKING PROCESS.</h6>
        <h1>We Telecast our Coffee Making Live</h1>
        <p>We are here to listen from you deliver exellence</p>
        <p class="p2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        </p>
        <img src="assets/images/signature.png" >
      </div>
  </div>
</div>
